
<head>
    <title> Experiment 8 </title>
    <link rel="stylesheet" href="css/layouts/side-menu.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="css/layouts/pricing.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link href="http:///maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- fonts -->

    <!--JS-->
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/tanpura_final.js"></script>
    
</head>

<body>
<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">Music Labs</a>
    <ul>
        <li class="pure-menu-selected"><a href="#">About</a></li>
        <li><a href="#">Experiments</a></li>
        <li><a href="#">Repository</a></li>
        <li><a href="#">Contribute</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
<div id = "main">
    <div class = "header">
<div class="pure-g">

    <div class="pure-u-1"> <h1> Experiment 8 </h1> </div>
    <div class="pure-u-1"> <h3> Tune a Tanpura</h3> </div>
</div>

        <div class="content">
            <h2 class="content-subhead">Description</h2>
            <p>
In this experiment,you will learn how to tune a tanpura
            </p>
        </div>

<div class="pure-u-1-1 centering-div"> </div>
	<div class="pure-u-1-4 centering-div">
<input type="image" src= "ico-play.gif" value="play" class ="off" id="btn1" onclick="buttonclick_result1()" width="65" height="65" border="4"/>
<!--input type="image" src= "ico-play.gif" value="play" class ="off" id="btn1" onclick="on_play_click()" width="65" height="65" border="4"/-->
 </div>
<div class="pure-u-1-4 centering-div">
<input type="image" src= "ico-play.gif" value="play" class ="off1" id="btn2" onclick="buttonclick_result2()" width="65" height="65" border="4"/>
 </div>
<br>
<br>
<div class="pure-u-1-16 centering-div">
<div id="incdec">
    <button onclick="guess_up_clicked()"><i class="fa-arrow-up"></i></button>
    <button onclick="guess_down_clicked()"><i class="fa-arrow-down"></i></button>
    <!--img src="down_icon.png" id="down" onclick="guess_down_clicked()"/-->
</div>
</div>
<br><br> 
	<div class="pure-u-1-1 centering-div"> </div>
	<div class="pure-u-1-4 centering-div"> 
<button class="start" onClick="check()">Start Afresh</button>
</div>
<div class="pure-u-1-4 centering-div">
<input type="range"  value="5" min="0" max="10" step="5" id = "step-size"/>
</div>	
<br>
<br>

<div id="demo"></div>
<br><br><br>

<div class="pure-u-1-1 centering-div">
<button class="new" onClick="check()">Try a new question</button>
</div>

</div>
</div>
</body>
</html>


